body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid;
    border-radius: 10px
    
    
}

.Main_Page{
    background-color: rgb(170,192,173);
}

.Main_content{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}


header{
    text-align: center;
    background-color: rgb(92,127,113);
    padding: 20px;
    color: white;
    border-radius: 10px;
    
}

nav a{
    color: white;
    background-color: rgb(82,142,166);
    text-decoration: none;
    border: 1px solid white;
    border-radius: 8px;
    font-family: 'Roboto',;

    padding: 5px;
}
nav a:hover{
    background-color: rgb(170,192,173);
}

.profilesideinfo{
    display: flex;
    align-items: center;
    gap: 15px;

}

.profilesideinfo img{
    width: 200px;
    height: auto;
    border: 5px solid rgb(82,142,166);
    border-radius: 20px;
    
}

.textbox h3, p{
    margin: 5px;
    
}
.textPadding{
    padding-bottom: 10px;
}

.column{
    flex: 50%;
    
}

.row{
    display: flex;
}

.video-container {
    display: flex;
    justify-content: left;
    gap: 5px;
    
}

.video-item {
    flex: 1;
    max-width: 200px;
}

.video-item iframe {
    width: 50%;
    height: auto;
    
}

@media (max-width: 768px) {
    .video-container {
        flex-direction: column;
        align-items: left;
    }
    .profilesideinfo{
        display: flex;
        align-items: center;
    }
}
